# Порт приложения на хосте
APP_PORT=8081
# Параметры PostgreSQL (используются, если STORAGE_TYPE=psql)
POSTGRES_USER=app
POSTGRES_PASSWORD=secret
POSTGRES_DB=posts
DATABASE_URL=postgres://app:secret@postgres:5432/posts?sslmode=disable
DATABASE_MAX_OPEN_CONNS=25
DATABASE_MAX_IDLE_CONNS=25
DATABASE_CONN_MAX_LIFETIME=5m


MAX_COMMENT_BODY_SIZE=2000